<app-header></app-header>
<div class="content" role="main">
    <div style="padding: 56px;">
        <div class="d-grid gap-2">
            <button class="btn btn-primary" type="button"  [routerLink]="['/database']">Database</button>
            <button class="btn btn-primary" type="button" [routerLink]="['/ui-tools']">UI tools</button>
            <button class="btn btn-primary" type="button" [routerLink]="['/task2']">Task 2</button>
            <button class="btn btn-primary" type="button" [routerLink]="['/task3']">Task 3</button>
            <button class="btn btn-primary" type="button" [routerLink]="['/task4']">Task 4</button>
            <button class="btn btn-primary" type="button" [routerLink]="['/task5']">Task 5</button>
            <button class="btn btn-primary" type="button" [routerLink]="['/task6']">Task 6</button>
        </div>
    </div>
</div>